<header>
  <div class="container__menu">
      <div class="logo">
      <img src="{{img}}" alt="imagen">
      </div>
      <div class="menu">
          <nav>
              <ul>
                  <li><a routerLink="/home" (click)="scrollToElement('inicio')" class="inicio">Inicio</a></li>
                  <li><a (click)="scrollToElement('topCanchas')" class="topCanchas">Top Canchas</a></li>
                  <li><a (click)="scrollToElement('equipo')" class="equipo">Equipo</a></li>
                  <li><a  (click)= "navegar('/documentacion')"class="documentacion">Documentacion</a></li>
                  <li><a (click)="navegar('/canchas')" class="canchas">Canchas</a></li>
              </ul>
          </nav>
      </div>
  </div>
</header>

