<div style="height: 70px;">
  <app-navmenu></app-navmenu>
</div>

<div style="text-align: center;">
  <h2>Descripción del proyecto:</h2>
  <P>Este proyecto consiste en el desarrollo
    y ejecución de una pagina web que es capaz de brindar el servicio <br> a los usuarios que la operen de poder
    establecer una reservación de una cancha en específico, <br> catálogo de canchas que tenemos designado para este
    objetivo.</P>
  <img src="{{img}}" alt="">
  <h1>FRONT END:</h1>
  <p>en cuestion de la parte de la insfresructura en front end se desarrollo en angular. <br>
    En donde este consiste en la implementación de componentes que se encargan de la operabilidad de las interfaces implementadas<br>
    las interfaces que se dasarrollaron son las siguientes:</p>
  <div class="imagenes">
    <H2>PAGINA DE INICIO:</H2>
    <img src="{{pagInicio}}" alt="" width="800" height="400">
    <H2>PAGINA DE NOSOTROS:</H2>
    <img src="{{pagNosotros}}" alt="" width="800" height="400">
    <h2>PAGINA DE EQUIPO:</h2>
    <img src="{{pagEquipo}}" alt="" width="800" height="400">
    <h2>PAGINA DE CANCHAS:</h2>
    <img src="{{pagCanchas}}" alt="" width="800" height="400">
  </div>
  <h1>BACK END:</h1>
  <p>En el back end se desarrollo mediante el manejo del modelo entidad relacion y 
    <br> con base en eso se desarrollo lo siguientes:</p>
    <H2>Controladores:</H2>
    <p>Se desarrollaron los siguientes controladores:</p>
    <h3>Comentario:</h3>
    <img src="{{imgControladorComentario}}" alt="" width="550" height="600">
    <h3>Reserva:</h3>
    <img src="{{imgControladorReserva}}" alt="" width="550" height="600">
    <h3>Cancha:</h3>
    <img src="{{imgControladorCancha}}" alt="" width="550" height="600">
    <h3>Usuario:</h3>
    <img src="{{imgControladorCancha}}" alt="" width="550" height="600">
    <h2>Interfaces:</h2>
    <p>Se desarrollaron las siguientes interfaces que ayudan a aplicar los metodos de la clase JPA que ofrece la dependencia:</p>
    <h3>Comentario:</h3>
    <img src="{{imgInterfaceComentario}}" alt="" width="550" height="auto">
    <h3>Cancha:</h3>
    <img src="{{imgInterfaceCancha}}" alt="" width="550" height="auto">
    <h3>Reserva:</h3>
    <img src="{{imgInterfaceReserva}}" alt="" width="550" height="auto">
    <h3>Usuario:</h3>
    <img src="{{imgInterfaceUsuario}}" alt="" width="550" height="auto">
    <h2>Entidades:</h2>
    <p>A continuación se va a mostrar el desarrollo de las <br> 
      entidades necesarias para el proyecto BackEnd, con base en el modelo Entidad-Relación que se mostro anteriormente.</p>
    <h3>Comentario:</h3>
    <img src="{{imgEntidadComentario}}" alt="" width="550" height="auto">
    <h3>Reserva:</h3>
    <img src="{{imgEntidadReserva}}" alt="" width="550" height="auto">
    <h3>Cancha:</h3>
    <img src="{{imgEntidadCancha}}" alt="" width="550" height="auto">
    <h3>Usuario:</h3>
    <img src="{{imgEntidadUsuario}}" alt="" width="550" height="auto">
  <h1>PRUEBAS UNITARIAS:</h1>
  <p>Se realizaron las siguientes pruebas unitarias:</p>
  <img src="{{imgPruebaUnitaria}}" alt="" width="550" height="auto">
  <p>el objetivo principal de estas pruebas es demostrar el funcionamiento de todo lo desarrollado anteriormente.</p>
  <h1>Base de datos implementada:</h1>
  <img src="{{imgMySQL}}" alt="" width="auto" height="auto">
  <p>Se implemento una base de datos en mysql con el nombre de furmania, y posee las siguientes tablas. 
    <br> Esto se desarrollo con base en el modelo Entidad-Relación que se mostro anteriormente.</p>
</div>