<div style="height: 70px;">
  <app-navmenu></app-navmenu>
</div>

<div style="text-align: center;">
  <h2>Descripción del proyecto:</h2>
  <P>Este proyecto consiste en el desarrollo
    y ejecución de una pagina web que es capaz de brindar el servicio <br> a los usuarios que la operen de poder
    establecer una reservación de una cancha en específico, <br> catálogo de canchas que tenemos designado para este
    objetivo.</P>
  <img src="{{img}}" alt="">
  <h1>FRONT END:</h1>
  <p>Tida la parte de insfresructura en front end se desarrollo en angular. <br>
    las interfaces que se dasarrollaron son las siguientes:</p>
  <div class="imagenes">
    <H2>PAGINA DE INICIO:</H2>
    <img src="{{pagInicio}}" alt="" width="800" height="400">
    <H2>PAGINA DE NOSOTROS:</H2>
    <img src="{{pagNosotros}}" alt="" width="800" height="400">
    <h2>PAGINA DE EQUIPO:</h2>
    <img src="{{pagEquipo}}" alt="" width="800" height="400">
    <h2>PAGINA DE CANCHAS:</h2>
    <img src="{{pagCanchas}}" alt="" width="800" height="400">
  </div>
  <h1>BACK END:</h1>
</div>