<body>
    <div class="contenedor" id="contenedor">
        <div class="form-contenedor contenedorLog">
            <form action="#" #frmLogin = "ngForm" (ngSubmit)="onLogin(frmLogin)">
                <h1>Inicia Sesión</h1>
                <div class="contenedorRedes">
                    <a href="" class="redSocial"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="redSocial"><i class="fab fa-google-plus-g"></i></a>
                    <a href="" class="redSocial"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>o utiliza tu cuenta</span>
                <input type="text" name= "email" placeholder="Email" [(ngModel)]="usuarioL.email" ngModel required>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="usuarioL.password" ngModel required>
                <a href="#">Olvidaste tu contraseña?</a>
                <button type="submit" value="Send">Inicia Sesión</button>
            </form>
        </div>
        <div class="form-contenedor contenedorReg">
            <form action="#" #frmRegister = "ngForm" (ngSubmit)="onRegister(frmRegister)">
                <h1>Registrate</h1>
                <div class="contenedorRedes">
                    <a href="" class="redSocial"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="redSocial"><i class="fab fa-google-plus-g"></i></a>
                    <a href="" class="redSocial"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>o utiliza tu correo para registrate</span>
                <input type="text" name="name" placeholder="Nombre" [(ngModel)]="usuario.name" ngModel required>
                <input type="text" name="telefono" placeholder="Telefono" [(ngModel)]="usuario.telefono" ngModel required>
                <input type="text" name="identification" placeholder="Identificacion" [(ngModel)]="usuario.identification" ngModel required>
                <input type="text" name="email" placeholder="Correo" [(ngModel)]="usuario.email" ngModel required>
                <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="usuario.password" ngModel required>
                <button type="submit">Registrarse</button>
            </form>
        </div>
        <div class="contenedorMsg">
            <div class="overlay">
                <div class="overlaycontenedor poscontenedor-derecha">
                    <h1>Bienvenido a FutMania</h1>
                    <p>Crea una nueva cuenta junto a nosotros</p>
                    <button class="shadow" id="Registrate">Registrate</button>
                </div>
                <div class="overlaycontenedor poscontenedor-izquierda">
                    <h1>Un gusto volver a verte!</h1>
                    <p>Para acceder a FutMania inicia sesion</p>
                    <button class="shadow" id="Iniciasesion">Inicia Sesion</button>
                </div>
            </div>

        </div>
    </div>
</body>

