<app-navmenu></app-navmenu>
<main>
  <div class="container__cover div__offset" id="inicio">
    <div class="cover">
      <div class="text">
        <h1 id="Titulo">FutMania</h1>
        <h1>Te ayudamos a encontrar tu cancha favorita</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto earum harum, magnam minus nihil quod
          rem. Alias et fugiat odio?</p>
        <input type="button" value="Conocer mas">
      </div>
      <div class="svg">
        <img src="{{Soccer_field}}" alt="">
      </div>
    </div>
  </div>

  <div class="container__info container__card-primary div__offset" id="nosotros">
    <div class="informacion card__primary">
      <div class="text__info text__card-primary">
        <p>SOBRE FUTMANIA</p>
        <h1>Lo que nos caracteriza</h1>
      </div>
      <div class="container__info container__box-cardPrimary" routerLink="/canchas">
        <div *ngFor="let cancha of canchas" class="card__info box__card-primary">
          <img [src]="cancha.imagen" alt="imagen">
          <h1>{{cancha.nombre}}</h1>
          <h2>{{cancha.price}}</h2>
          <p>{{cancha.info}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container__team div__offset" id="equipo">
    <div class="integrantes">
      <div class="texto__integrantes">
        <p>NUESTRO EQUIPO</p>
        <h1>Colombianos de bien con un gran futuro por delante</h1>
      </div>
      <div class="container__integrantes">
        <div class="container__integrante">
          <div class="foto__equipo">
            <img src="{{imagen_juan}}" alt="">
          </div>
          <h2>Juan</h2>
          <h3>Lider Desarrollo</h3>
          <h4>Java · HTML · CSS</h4>
          <p>Una persona con cualidades excelentes</p>
        </div>
        <div class="container__integrante">
          <div class="foto__equipo">
            <img src="{{imagen_tomas}}" alt="">
          </div>
          <h2>Tomas</h2>
          <h3>Lider Desarrollo</h3>
          <h4>Java · HTML · CSS</h4>
          <p>Una persona con cualidades excelentes</p>
        </div>
        <div class="container__integrante">
          <div class="foto__equipo">
            <img src="{{imagen_sebas}}" alt="">
          </div>
          <h2>Sebastian</h2>
          <h3>Lider Desarrollo</h3>
          <h4>Java · HTML · CSS</h4>
          <p>Una persona con cualidades excelentes</p>
        </div>
        <div class="container__integrante">
          <div class="foto__equipo">
            <img src="{{imagen_carlos}}" alt="">
          </div>
          <h2>Carlos</h2>
          <h3>Lider Desarrollo</h3>
          <h4>Java · HTML · CSS</h4>
          <p>Una persona con cualidades excelentes</p>
        </div>
      </div>
    </div>
  </div>
</main>
