

<body>
  <div class="contenedorPrincipal" id="modal-cancha1">
      <div class="contenedorImagenes">
          <div class="slider">
              <div class="slides">
                  <input type="radio" name="radio-btn" id="radio1" checked>
                  <div class="slide first">
                      <img src="{{imagenes}}" alt="">
                  </div>
              </div>
              <div class="navigation-manual">
                  <label for="radio1" class="manual-btn"></label>
              </div>
          </div>
      </div>
      <div class="contenedorInfoPedido">
          <div class="tituloCancha">
              <h2>{{nombre}}</h2>
          </div>
          <div class="contenedor-Lados">
              <div class="contenedor-Info-Izquierda">
                  <div class="contenedorInformacion">
                      <h3>DIRECCIÓN: {{direccion}}</h3>
                      <h3>TIPO DE CANCHA: {{tipoCancha}}</h3>
                      <h3>GRADAS: {{gradas}}</h3>
                      <h3>DESCRIPCIÓN: {{descripcion}}</h3>
                  </div>
                  <form [formGroup]="solicitudCancha">
                    <div class="contenedorCalendario">
                      <div class="contenedorCalendarioHoras-text">
                          <h3>DÍA</h3>
                      </div>
                      <input type="date" name="" id="" formControlName="dia">
                      <div class="contenedorCalendarioHoras-text">
                          <h3>HORAS</h3>
                      </div>
                      <div class="contenedorCalendarioHoras-input">
                          <div class="contenedorCalendarioHoras-input1">
                              <input type="time" name="Desde" id="" formControlName="horaInicio">
                          </div>
                          <h4>-</h4>
                          <div class="contenedorCalendarioHoras-input2">
                              <input type="time" name="Hasta" id="" formControlName="horaFin">
                          </div>
                      </div>
                    </div>
                  </form>

              </div>
          </div>
          <div class="contenedorConfirmacion">
              <button (click)="Submit()">Alquilar Cancha</button>
          </div>
      </div>
  </div>
</body>
